<div class="button1">
            <a class="transparent_btn" href="#">Boka resan</a>
        </div>
    
        <div class="menu">
            <i class="material-icons menu_logo_close" onclick="toggleMenu()">close</i>
            <div>
                <ul>
                    <li class="loginB">
                        <a class="transparent_btn red" href="logga_in.html">Logga in</a>
                    </li>
                    <li class="omB">
                        <a class="transparent_btn red" href="om_oss.html">Om oss</a>
                    </li>
                </ul>
            </div>
        </div>