/* material.io */

body {
    background-color: grey;
}

.container {
    display: grid;
    width: 360px;
    height: 640px;
    grid-template-columns: 100px, repeat(2, 910px);
    grid-template-rows: 54px 54px 650px 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

header{
    /* margin-left: auto;   skapa grid i headern
    margin-right: auto; */
    grid-template-columns: repeat(4, 1fr);
    
    display: grid;
}

.travavellogo {
    grid-column: 2/4;
    margin-top: 5px;
}

.menulogo {
    grid-column: 4/5;
    margin-left: 32px;
    margin-top: 15px;
}

.menu i {
    top:20px;
}


.menu {
    position: absolute;
    background: white;
    display: none;
}

.show{
    display: block;
}

.fade {
    background-color: grey;
}
/* @media screen and (min-width: 30em) and (orientation: landscape) { ... } */